@font-face 
{
    font-family: 'Carrois Gothic Regular';
    src: url('../Fonts/Carrois Gothic Regular.ttf');
}

@font-face 
{
    font-family: 'Tenor Sans Regular';
    src: url('../Fonts/Tenor Sans Regular.ttf');
}

@font-face 
{
    font-family: 'Playball';
    src: url('../Fonts/Playball.ttf');
}

Playball